body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.myHover {
  /* font: 3rem; */
  color: grey;
  padding: 9px 10px 5px 10px;
  border-radius: 5px;
}
.myHover:hover {
  color: white;
  background: #00a2ff;
}
.myHover:active {
  /* color: white; */
  background: black;
}

.taskHover:hover {
  background: whitesmoke;
}
.taskHover:active {

  background: coral;
}