body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.myHover {
  /* font: 3rem; */
  color: grey;
  padding: 9px 10px 5px 10px;
  border-radius: 5px;
}
.myHover:hover {
  color: white;
  background: #00a2ff;
}
.myHover:active {
  /* color: white; */
  background: black;
}

.taskHover:hover {
  background: whitesmoke;
}
.taskHover:active {

  background: coral;
}


.drag-drop-container {
  height: 100%;
  width: 50vh;
  border: 1px solid black;
  overflow-y: auto;
}

.item {
  margin: 20px;
  padding: 10px;
  border: 1px solid blue;
  cursor: pointer;
}

.ruler{
  width: 900px;
  height: 5vh;
  background: rebeccapurple;
  border: 1px solid rgb(44, 153, 153);

}
.fullPic{
  margin: 29px 0;
  width: 1000px;
  height: 500px;
  border: 1px solid tomato;
}
.picGridSection{
  width: 912px;
  background: rosybrown;
  /* margin: auto; */
}
.pictureGrid{
  /* margin: 0; */
  background-color: teal;
  width: 300px;
  height: 250px;
  margin: 2px;

  /* border: 1px solid purple; */
  /* height: 50vh;
  width: 50vh; */
}
.test{
  position: relative;
}
.testHidden{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.picCover{
  background: saddlebrown;
  position: absolute;
  top: 0;
  left: 0;
}
.test:hover .picCover{
  visibility: hidden;
}

/* .test:active .testHidden {
  visibility: visible;
} */

.img2{
  background-position-x: -300px;
  background-repeat: no-repeat;
}
.img3{
  background-position-x: -600px;
  background-repeat: no-repeat;
}

.img4{
  background-position-y: -250px;
}
.img5{
  background-position-y: -250px;
  background-position-x: -300px;
}
.img6{
  background-position-y: -250px;
  background-position-x: -600px;
}
.img7{
  background-position-y: -500px;
  background-position-x: 0;
}
.img8{
  background-position-y: -500px;
  background-position-x: -300px;
}
.img9{
  background-position-y: -500px;
  background-position-x: -600px;
}

.myCard{
  margin-top: 10px;
  width: 30%;
  max-height: 70vh;
}
/* img {
  max-width: 100%;
} */
.empAvatar{
  height: 35vh;
  width: 35vh;
  object-fit: cover;
}
.empAvatarThmb{
  height: 10vh;
  width: 10vh;
  object-fit: cover;
}

.bucket{
  padding: 10px;
  width: 65vh;
  margin: 5px auto;
  background: #e2e2e2;
}
.green{
  color: #8fd12b;
  cursor: pointer;
}
.grey{
  color: #979797;
  cursor: pointer;
}
.grey:hover{
  color: #d6bf72;
}
.cardTitle{
  /* min-height: 30vh; */
  background: #fafafa;
  max-height: 18vh;
  border: 1px solid rgb(140, 141, 98);
}
.myList{
  background: #fbfbfb;
  min-height: 55px;
  margin: 5px;
  border-radius: 5px;
  list-style: none;
  padding: 8px;
  /* filter: drop-shadow(2px 2px 2px #919191); */
  box-shadow: 2px 2px 2px #919191;
}
.myListDone2{
  background: #c7c7c7;
  min-height: 55px;
  margin: 5px;
  /* border-radius: 50px; */
  list-style: none;
  padding: 15px;
  box-shadow: 2px 2px 2px #919191;
}
.myListDone{
  background: #969696;
  min-height: 56px;
  margin: 5px;
  border-radius: 5px;
  list-style: none;
  padding: 8px;
  text-decoration: line-through;
  box-shadow: 2px 2px 2px #919191;
}
.myList:hover{
  background: #ffffff;
  box-shadow: 2px 2px 2px #919191;
  
  /* padding: 20px; */
}
.myInput{
  background: #f3f3f3;
  min-height: 55px;
  margin: 5px;
  border-radius: 50px;
  list-style: none;
  padding: 15px;
  filter: drop-shadow(2px 2px 2px #919191);
  /* border: 1px solid green; */
}
/* input[type=text] {
  border: 1px solid #8842d5;
  border-radius: 5px;  
} */
.bktTaskName{
  background: #fdfdfd;
  border-radius: 5px;
  padding: 10px;
  border-style: none;

}
.bktTaskName:active{
  /* background: #fdfdfd; */
  border-style: none;
}

.mainBox{
  background: #dad2ec;
  padding-top: 20px;
}
.myCardLg{
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  margin: 5px 0;
  box-shadow: 2px 5px 5px #777281;
}
.newCardLg{
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin: 5px auto;
  box-shadow: 2px 5px 5px #777281;
}
.circlBtn{
  cursor: pointer;
  background: #f3bf4e;
  width: 50px;
  height: 50px;
  padding: 3px;
  border-radius: 25px;
  font-size: 1.6rem;
  color: white;
  filter: drop-shadow(2px 2px 2px #a8a8a8);
  border: 3px solid #fad48300;
}
.circleLabel{
  background: #f8eacc;
  /* width: 100px; */
  /* height: 50px; */
  padding: 3px;
  border-radius: 25px;

}
.circlBtn:hover{
  border: 3px solid #fad483;
  
}
.circlBtn:active{
  background: #fad483;
}
.darkPurpleSection{
  background: #ad9fcc;
  /* border: 3px solid #a090c4; */
  padding: 20px;
  border-radius: 15px;
}
.label{
  margin: 13px 20px 10px 20px;
}
.myBtn{
  background: #876fb9;
  padding: 8px;
  border-style: none;
  color: white;
}
.myBtnRnd{
  cursor: pointer;
  padding: 5px 20px;
  border-style: none;
  color:  #876fb9;
  border-radius: 30px;
  border: 2px solid #876fb9;
}
.myBtnRndDeactive{
  cursor: pointer;
  padding: 5px 20px;
  border-style: none;
  background: #7e778b;
  color:  #443d53;
  border-radius: 30px;
  border: 2px solid #443d53;

}
.myBtnRnd:hover{
  background: #876fb9;
  text-decoration: none;
  color: white;
}
.myBtnRndOrng{
  background: #eb5f5f;
  padding: 8px 20px;
  border-style: none;
  color:  white;
  border-radius: 30px;
  border: 2px solid #eb5f5f;
  cursor: pointer;
}
.myBtnRndOrng:hover{
  border: 2px solid #eb5f5f;
  background: rgba(228, 130, 130, 0.507);
  color:  #eb5f5f;
  font-weight: 600;
}
.zIndex{
  z-index: 100000;
}
.hide{
  display: none;
}
.myDropDown{
  position: relative;
}
.myMenu{
  background: pink;
  position: absolute;
  z-index: 1000;
}
.membThmSmall{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.membThmSmallDisabled{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.membProPic{
  width: 100%;
  border: 5px solid rebeccapurple;
  border-radius: 10px;
}
.groceryImg{
  width: 12vh;
  margin: 0 auto;
  margin: 5px;
}
.groceryCrdWdth {
  margin: 0 auto;
  width: 57vh;
}
.plusBtn{
  font-size: 1.5rem;
  cursor: pointer;
}
.plusBtn:hover{
  font-size: 1.7rem;
  color: #f3bf4e;
}


.listHeight{
  padding: 10px;
  height: 90vh;
  overflow-y: scroll;
  background: #ebebeb;
  border-radius: 5px;
}
.groceryHeight{
  padding: 10px;
  height: 90vh;
  overflow-y: scroll;
}
.avatarsHeight{
  width: 100%;
  height: 85vh;
  overflow-y: scroll;
}
.myInput2{
  width: 100%;
  padding: 10px 20px;
  border-radius: 25px;
  background: #ad9fcc;
  border: #a8a8a800;
}
.myInput2:focus{
  border: #a8a8a800;
  outline: #a8a8a800;
}
.incomplete{
  
  height: 50vh;
  border-radius: 5px;
  padding: 10px;
  overflow-y: scroll;
}
.tryAnchor{
  height: 10px;
  background: #876fb9;
  overflow-anchor: auto;
}
.completed{
  height: 30vh;
  border-radius: 5px;
  padding: 10px;
  overflow-y: scroll;
  background: #ebebeb;
}
.detailTaskLst{
  border-radius: 5px;
  padding: 5px 0px;
  height: 75vh;
  background: #ebebeb;
  overflow-y: scroll;
}
.taskDetailWnd{
  height: 100vh;
}
.onHvr{
  color: #8fd12b;
  cursor: pointer;
}
.onHvrPr{
  /* color: #9b54d6; */
  cursor: pointer;
  cursor: pointer;
}
.onHvrPr:hover{
  color: #ab73da;
  cursor: pointer;
  font-weight: bold;

}
.onHvrGrey{
  color: #a599ad;
  cursor: pointer;
}
.onHvr:hover{
  font-weight: bold;
}
.complete{
  background: #a8a8a8;
  border-radius: 5px;
  padding: 10px;
}

.groceryListItm{
  border: 1px solid #d1d1d1;
  padding: 15px;
}
.groceryListItm p {
  margin: 0;
}
.timesIcn{
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 3px 5px;
  color: #00800000;
  transition: .5s ease-in all;
  border: 2px solid #6e5e9600;
}
.groceryListItm:hover .timesIcn{
  color: #906de0;
} 
.timesIcn:hover{
  /* border: 2px solid #5d5868; */
  border: 2px solid #6e5e96;
  color: white;
}
.fruitInp{
  cursor: text;
  border: none;
  outline: none;
  padding: 2px 10px;
}
.noColor{
  background: none;
  cursor: text;
  border: none;
  outline: none;
  padding: 2px 10px;

}
.fruitInp:hover{
  background: #b2acbd;
  border-radius: 5px;
}
.anotherList{
  width: 35%;
  height: 200vh;
  position: absolute;
  top: 60px;
  right: 0;
}
.myShoppingList{
  position: sticky;
  background: #ad9fcc;
  z-index: 10;
  top: 0;
  right: 0;
  padding: 10px;
  border-radius: 5px;
}
.shoppingListSticky{
  position: sticky;
  z-index: 10;
  top: 0;
  right: 0;
}
.teamNavBar{
  background: #3e444b;
  
}
.jumbotron{
  height: 87vh;
  margin: 0px;
  padding-top: 20px;
  background: #fdfdfd;
  /* cursor: text; */
}
.heroLine{
  width: 60%;
  border-width: 2px;
  margin-left: 0px;
  background: #b2b5b9;
}
.menuCard{
  width: 300px;
  border: 1px solid  #a5a9adab;
  border-radius: 5px;
  padding: 15px;
  position: absolute;
  top: 54px;
  right: 0;
  background: whitesmoke;
  z-index: 200;
}
.menuItm{
  padding: 15px;
  border-radius: 5px;
}
.menuItm:hover{
  background: #ad9fcc;
  color: white;
  cursor: pointer;
}
.menuItm:hover .link{
  color: white;
}
.link{
  color: black;
}
.link:hover{
  color: white;
  text-decoration: none;
}
.profileLink{
  
}
.profileLink:hover .prfImgTxt {
  color:  #f3bf4e;
}
a:hover {
  text-decoration: none;
}
.prfImg{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid white;
}
.prfImg:hover{
  border-color: #f3bf4e;
}
.prfImgTxt{
  font-size: 1.2rem;
  margin-top: 10px;
  color: #bbbbd1;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
}
.profilesPage, .adminsLogInPage{
  background: #2e2e41;
  min-height: 100vh;
  padding: 50px 0px;
}
.darkCard{
  border-radius: 10px;
  background: #5a5a74;
  height: 70vh;
}
.myProfileImg{
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.profilImgCntnr{
  padding: 20px;
  border-right: 2px solid #bfbfd6;
}
.settingsPage{
  padding: 30px;
  min-height: 120vh;
}
.profileDet{
  padding: 5px;
  margin: 0;
}
/* .myBtnRnd{
  cursor: pointer;
  padding: 5px 20px;
  border-style: none;
  color:  #876fb9;
  border-radius: 30px;
  border: 2px solid #876fb9;
} */
.myEditBtn{
  width: 80px;
  cursor: pointer;
  padding: 5px;
  border: 2px solid #876fb9;
  border-radius: 10px;
}
.myEditBtn:hover{
  background: #876fb9;
  color: white;
}
.editHead{
  text-align: left;
  width: 125px;
}
.dropDnBtn{
  cursor: pointer;
  padding: 5px 10px;
  border: 2px solid #876fb9;
  border-radius: 5px;
  margin: 5px;
}

.myRadio {
  padding: 15px 3px;
  cursor: pointer;
}
.myRadioActive{
  padding: 15px 3px;
  cursor: pointer;
  color: #876fb9;
}
.myRadioOp{
  padding: 10px 3px;
}
.reltv{
  position: relative;
}
.abslt{
  position: absolute;
}
.editMenu{
  display: none;
}
.showEditMenu:hover .editMenu{
  display: block;
}
.delConfWndo{
position: fixed;
background: #262641d7;
padding: 50px;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 300;
}
.onHvr2{
  cursor: pointer;
}
.onHvr2:hover{
  background: #a894d1;
}
.cursor{
  cursor: pointer;
}
.todayTimeStamp{
  min-height: 30vh;
}

.tableWdth{
  min-width: 125px;
  /* border: 1px solid #c9c7d6; */
  border-right: 1px solid #c9c7d6;
  border-bottom: 1px solid #c9c7d6;
  padding: 10px;
  text-align: justify;
}
.firstTble{
  border-left: 1px solid #c9c7d6;

}
.head{
  background: #a894d1;
  font-weight: 500;
  color: white;
}
.hoverNmSh{
  position: relative;
}
.hoverName{
  font-size: .8rem;
  min-width: 85px;
  visibility: hidden;
  padding: 5px;
  background: #d1b566;
  position: absolute;
  z-index: 300;
  top: -20px;
  right: 30px;
  outline: none;
  color: white;
  border-radius: 4px;
  text-align: center;
}
.hoverName2{
  min-width: 80px;
  visibility: hidden;
  padding: 10px;
  background: #26c7c7;
  position: absolute;
  z-index: 300;
  /* top: -65px; */
  right: 45px;
  outline: none;
  border: none;
  color: white;
  border-radius: 4px;
  text-align: center;
}
.hoverName:active{
  outline: none;
  border: none;
}
.hoverName:focus{
  outline: none;
  border: none;
}
.hoverNmSh:hover .hoverName, .hoverNmSh:hover .hoverName2{
  visibility: visible;
}
.listHeight{
  padding: 30px 10px;
  height: 80vh;
  overflow-y: scroll;
}
.dropDnHght{
  height: 70vh;
  overflow-y: scroll;

}
.bucketsCntnr{
  width: 100%;
  background: #938ba0b4;
  padding: 10px 0;
  min-height: 100vh;
}
.buckets{
  width: 32%;
  background: #e6e4e9;
  padding: 15px;
  box-shadow: 2px 2px 2px #6b6a70af;
  border-radius: 5px;
}
.bucketTasks{
  background: #ffffff;
  padding: 15px;
  margin: 15px auto;
  box-shadow: 2px 5px 10px #bab6c4af;
  border-radius: 5px;
}
.bucketTasksDone{
  background: #938ba0b4;
  padding: 15px;
  margin: 15px auto;
  box-shadow: 2px 5px 10px #bab6c4af;
  border-radius: 5px;
}
.buckTaskCnt{
  background:  #a29caf27;
  /* padding: 5px; */
  height: 70vh;
  overflow-y: hidden;
}
.buckTaskCnt:hover, .shoppingCntr:hover{
  overflow-y: scroll;
}
.shoppingCntr{
  height: 70vh;
  overflow-y: hidden;
}

.buckTaskCnt::-webkit-scrollbar, 
.groceryListGroup::-webkit-scrollbar,
.shoppingCntr::-webkit-scrollbar, .incomplete::-webkit-scrollbar, 
.completed::-webkit-scrollbar, .listHeight::-webkit-scrollbar,
.compareWindow::-webkit-scrollbar,
.detailTaskLst::-webkit-scrollbar,
.dropDnHght::-webkit-scrollbar,
.groceryHeight::-webkit-scrollbar,
.avatarsHeight::-webkit-scrollbar
{
  border-radius: 3px;
  width: 8px;
  background:  #a29caf27;
}
.groceryListGroup{
  height: 50vh;
  overflow-y: hidden;
  transition: .7s ease all;
}
.groceryListGroup::-webkit-scrollbar{
  position: absolute;
  top: 0;
}
.groceryListGroup:hover{
  overflow-y: scroll;
}
.buckTaskCnt::-webkit-scrollbar-thumb ,  
.groceryListGroup::-webkit-scrollbar-thumb,
.shoppingCntr::-webkit-scrollbar-thumb, 
.incomplete::-webkit-scrollbar-thumb, 
.completed::-webkit-scrollbar-thumb,
.listHeight::-webkit-scrollbar-thumb,
.compareWindow::-webkit-scrollbar-thumb,
.detailTaskLst::-webkit-scrollbar-thumb,
.dropDnHght::-webkit-scrollbar-thumb,
.groceryHeight::-webkit-scrollbar-thumb,
.avatarsHeight::-webkit-scrollbar-thumb
 {
  background: #a894d1; 
  border-radius: 3px;
}


.toDoBtn{
  width: 15px;
  height: 15px;
  border-radius: 10px;
  box-shadow: 1px 2px 6px #7772816e;
}
.toDoBtnDone{
  background: #c2afe9;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  box-shadow: 1px 2px 6px #7772816e;
}
.toDoBtn:hover{
  background: #c2afe9; 
  cursor: pointer;
  box-shadow: 1px 2px 6px #2a2730b0;

}

.deactivate{
  background: #2e2e4170;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.compareWindow{
  width: 100%;
  background: rgb(219, 205, 236);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding: 20px 5px;
  height: 100%;
  overflow-y: scroll;
}

.loaderWindow{
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2050;
  margin: 0 auto;
  background: #bf91dd6e;
}
.loadingGif{
  width: 100px;
  height: 100px;
  margin: auto;
  object-fit: cover;
}
.loadingWnd{
  width: 100px;
  height: 100px;
  margin: 200px auto;
}
.compareContnr{
  /* height: 95vh; */
  min-height: 200vh;
}
.box{
  width: 50%;
  height: 50vh;
  border: 2px solid rebeccapurple;
}

.listWdth{
  width: 100%;
}
.addBtn{
  cursor: pointer;
}
.addBtn:hover{
  background: #a894d1;
  color: white;
}
.addBtn:active{
  background: #7f5bc5;
  color: white;
}
.listItem{
  padding: 7px 16px;
}
.statusBtn{
  font-size: .75rem;
}
.myInputFrm{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.myInputCnt{
  /* width: 90%; */
}
.addBtn{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.taskDetailWnd {
  position: sticky;
  height: 100vh;
  top: 0;
  right: 0;
}
.avatarImg{
  height: 30vh;
  width: 30vh;
}
.animal1{
  background-image: url(./components/assets/avatars/animal1.png);
  background-size: cover;
}
.animal2{
  background-image: url(./components/assets/avatars/animal2.png);
  background-size: cover;
}
.animal3{
  background-image: url(./components/assets/avatars/animal3.png);
  background-size: cover;
}
.animal4{
  background-image: url(./components/assets/avatars/animal4.png);
  background-size: cover;
}
.animal5{
  background-image: url(./components/assets/avatars/animal5.png);
  background-size: cover;
}
.animal6{
  background-image: url(./components/assets/avatars/animal6.png);
  background-size: cover;
}
.animal7{
  background-image: url(./components/assets/avatars/animal7.png);
  background-size: cover;
}
.animal8{
  background-image: url(./components/assets/avatars/animal8.png);
  background-size: cover;
}
.avatarActive{
  border: 4px solid white;
  background: #a894d1;
  border-radius: 50%;
}
.female1{
  background-image: url(./components/assets/avatars/female1.png);
  background-size: cover;
}
.female2{
  background-image: url(./components/assets/avatars/female2.png);
  background-size: cover;
}
.female3{
  background-image: url(./components/assets/avatars/female3.png);
  background-size: cover;
}
.female4{
  background-image: url(./components/assets/avatars/female4.png);
  background-size: cover;
}
.female5{
  background-image: url(./components/assets/avatars/female5.png);
  background-size: cover;
}
.female6{
  background-image: url(./components/assets/avatars/female6.png);
  background-size: cover;
}
.female7{
  background-image: url(./components/assets/avatars/female7.png);
  background-size: cover;
}
.female8{
  background-image: url(./components/assets/avatars/female8.png);
  background-size: cover;
}
.male1{
  background-image: url(./components/assets/avatars/male1.png);
  background-size: cover;
}
.male2{
  background-image: url(./components/assets/avatars/male2.png);
  background-size: cover;
}
.male3{
  background-image: url(./components/assets/avatars/male3.png);
  background-size: cover;
}
.male4{
  background-image: url(./components/assets/avatars/male4.png);
  background-size: cover;
}
.male5{
  background-image: url(./components/assets/avatars/male5.png);
  background-size: cover;
}
.male6{
  background-image: url(./components/assets/avatars/male6.png);
  background-size: cover;
}
.male7{
  background-image: url(./components/assets/avatars/male7.png);
  background-size: cover;
}
.male8{
  background-image: url(./components/assets/avatars/male8.png);
  background-size: cover;
}
.girl1{
  background-image: url(./components/assets/avatars/girl1.png);
  background-size: cover;
}
.girl2{
  background-image: url(./components/assets/avatars/girl2.png);
  background-size: cover;
}
.girl3{
  background-image: url(./components/assets/avatars/girl3.png);
  background-size: cover;
}
.girl4{
  background-image: url(./components/assets/avatars/girl4.png);
  background-size: cover;
}
.girl5{
  background-image: url(./components/assets/avatars/girl5.png);
  background-size: cover;
}
.girl6{
  background-image: url(./components/assets/avatars/girl6.png);
  background-size: cover;
}
.boy1{
  background-image: url(./components/assets/avatars/boy1.png);
  background-size: cover;
}
.boy2{
  background-image: url(./components/assets/avatars/boy2.png);
  background-size: cover;
}
.boy3{
  background-image: url(./components/assets/avatars/boy3.png);
  background-size: cover;
}
.boy4{
  background-image: url(./components/assets/avatars/boy4.png);
  background-size: cover;
}
.boy5{
  background-image: url(./components/assets/avatars/boy5.png);
  background-size: cover;
}
.boy6{
  background-image: url(./components/assets/avatars/boy6.png);
  background-size: cover;
}